# Rename this file to .env before running the server

# Local MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/student_registrar

# OR MongoDB Atlas (cloud) - example format
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/student_registrar

PORT=5000
